.catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    margin: 5rem 0;
}

.producto{
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 10px;
    background: #141414;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.producto::before{
    content: '';
    position: absolute;
    width: calc(100% + 0.2rem); 
    height: calc(100% + 0.2rem);
    border-radius: inherit;
    background: linear-gradient(rgb(182, 50, 194), rgb(0, 134, 151));
    inset: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(9px);
    z-index: -1;
}

.producto::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #141414;
    inset: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.producto:hover::before{
    background: linear-gradient(rgb(0, 134, 151), rgb(182, 50, 194));
}

.producto a {
    background: #77adb1;
    padding: 0.2rem 2rem;
    color: black;
    width: fit-content;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}


.producto-title{
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 0.5px solid white;
    padding: 0 0 0.5rem 0;
}

.producto-desc{
    height: 8rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.index_info{
    text-align: center;
}

.index_info ul{
    margin: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_info ul li{
    display: flex;
    flex-direction: row;
    width: 33rem;
}

.index_info ul li p{
    margin-left: 1rem;
}

.index_info_2{
    text-align: center;
}

.index_info_2 ul{
    margin: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_info_2 ul li{
    display: flex;
    flex-direction: row;
    width: 12rem;
}

.index_info_2 ul li p{
    margin-left: 2rem;
}

.tech{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 5rem 0;
}

.tech img{
    max-width: 14rem;
}

.tech img:hover{
    transform: translateY(-0.5rem) rotate(7deg);
} 

@media (max-width: 1050px)
{
    .catalogo{
        flex-direction: column;
    }

    .index_info ul{
        margin: 2rem;
        list-style: none;
    }

    .index_info ul li{
        text-align: left;
        width: 20rem;
    }

    .index_info_2 ul li{
        text-wrap: nowrap;
        width: 10rem;
    }

    .tech{
        flex-direction: column;
        padding: 2rem;
    }
}

.update{
    color: rgb(255, 255, 0);
    width: fit-content;
    border-radius: 4px;
}

.items{
    color: #1d1d1d;
    margin: 2rem auto;
    padding: 0 15rem;
    text-align: justify;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 11rem;
    background:#ccc;
    text-align: center;
    border-radius: 20px;
    padding: 2rem;
    position: relative;
    z-index: 0;
}

.item:hover{
    transform: rotate(5deg);
}

.item:hover::after{
    content: '';
    position: absolute;
    background: #ccc;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    z-index: -1;
}

.item:hover::before{
    content: '';
    position: absolute;
    background: conic-gradient(#4bb9b3, #4bb982);
    filter: blur(20px);
    width: calc(100% + 0.2rem);
    height: calc(100% + 0.2rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    animation: rot 4s linear infinite;
    z-index: -1;
}

@keyframes rot {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.item p{
    font-size: 1rem;
    color: #1d1d1d;
}


@media (max-width: 1050px)
{
    .info{
        padding: 0 3rem;
    }

    .items{
        flex-direction: column;
        gap: 3rem;
        padding: 0;
    }
}