main img{
    display: block;
    margin: 2rem 0;
    width: 80%;
}

.product-preview{
    padding: 0 8rem;
}

.img2{
    width: 25%;
}

.img3{
    width: 35%;
}

.boton{
    background: #77adb1;
    padding: 0.5rem 3rem;
    color: rgb(10, 10, 10);
    font-size: 1.3rem;
    width: fit-content;
    display: block;
    margin: 3rem 0;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}

.boton:hover{
    color: rgb(10, 10, 10);
}

.b_volver{
    text-decoration: underline;
    display: block;
    color: #ccc;
}



@media (max-width: 1050px)
{
    main img{
        width: 90%;
        margin: 2rem auto;
    }

    .product-preview{
        padding: 0 1rem;

    }

    .boton{
        margin: 3rem auto;
    }

    .b_volver{
        text-align: center;
    }

    .title{
        padding: 0 2rem;
    }

    .img2{
        width: 50%;
    }

    .img3{
        width: 90%;
    }
}