*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(0deg, #1f292e, #151b1f);
}

#container{
    width: 100%;
    max-width: 100rem;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
a:hover{
    color: rgb(85, 231, 236);
    transform: translateY(-0.2rem);
}

.info{
    color: #ccc;
    margin: 2rem auto;
    padding: 0 15rem;
    text-align: justify;
}

@media (max-width: 1050px)
{
    .info{
        padding: 0 3rem;
    }
}