*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    font-family:sans-serif;
    background: linear-gradient(0deg, #1f292e, #151b1f);
    text-align: justify;
}   

#container{
    width: 100%;
    max-width: 100rem;
    min-height: 100vh;
    padding: 0 4rem;
}

.title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}

.title-2{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}

.title-3{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}

.title-4{
    font-size: 3rem;
    text-align: left;   
    font-weight: bold;
    margin: 2rem 0;
}

.title-5{
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin: 1rem 0;
}


a{
    text-decoration: none;
}

a:hover{
    color: rgb(85, 231, 236);
    transform: translateY(-0.2rem);
}

.info{
    color: #ccc;
    text-align: justify;
}

.info-2{
    color: #ccc;
    padding: 0 15rem;
    font-size: 1.1rem;
    text-align: center;
}

p{
    color: #ccc;
}

.contenido{
    padding: 0 2rem;
}

ul{
    color: #ccc;
    margin: 2rem;
}

@media (max-width: 1050px)
{
    #container{
        padding: 0;
    }

    .info-2{
        padding: 0 3rem;
    }

    .title-2{
        font-size: 2rem;
    }

    .title-4{
        font-size: 2rem;
    }
}