*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 1s;
}

#container{
    width: 100%;
    max-width: 100rem;
    min-height: 50rem;
    background: linear-gradient(0deg, #023633, #2d003f);
}

header{
    display: flex;
    font-size: 2rem;
    width: 100%;
    font-style: italic;
    padding: 0.5rem;
}
header span{
    color:#9000c9;
}

nav{
    color: #fff;
    margin: 0 1rem;
}

.main{
    color: #fff;
    margin: 0 1rem;
    padding: 1rem 0;
    max-width: 100%;
}

.nft{   
    display: flex;
    flex-direction: row;
    position: relative;
}

.nft-img-name{
    display: flex;
    flex-direction: column;
    max-width: 17rem;
    margin: auto auto;
}

.nft h2{
    margin: 0 auto;
}
.nft p{
    margin: 0 auto;
    margin-bottom: 1rem;
}

.nft-desc{
    padding: 1rem;
    margin: auto 0;
}

.nft img{
    border: 2px solid #2d9fd4;
    margin: 1rem;
    position: relative;
    border-radius: 4px;
    box-shadow: 10px 10px 30px rgb(105, 8, 161);
}

.nft img:hover{
    border-color: #9000c9;
    top: 2px;
}

.rareza{
    color: yellow;
    font-style: italic;
}

.comun{
    color: rgb(212, 212, 212);
}

.raro{
    color: rgb(21, 255, 0);
}

.extraro{
    color: rgb(41, 0, 10);
}

.legen{
    color: rgb(255, 174, 0);
}

.mitico{
    color: rgb(0, 217, 255);
}

.author{
    position: absolute;
    right: 4px;
    top: 95%;
    bottom: 1px;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 3rem;
        text-align: center;
        padding-left: 0;
    }
    nav{
        margin: 0 auto;
        text-align: center;
    }
    .nft{
        flex-direction: column;
    }
    .nft-img-name{
        border-bottom: 2px solid #fff;
    }
    .author{
        position: static;
        text-align: center;
    }
}